<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxxz.oasis.ouroasis.data.AuthorTable1EntityMapper">

<insert id="insertSelective" parameterType="com.lxxz.oasis.ouroasis.po.AuthorTable1Entity">
    insert into d_author(doc_title,author,author_aff,author_place)
    values(#{docTitle},#{authors},#{authorsAff},#{key})
</insert>


</mapper>