<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxxz.oasis.ouroasis.data.AuthorHeatEntityMapper">

<insert id="insertIgnoreSelective" parameterType="com.lxxz.oasis.ouroasis.po.AuthorHeatEntity">
    insert ignore into h_author(author,aff,heat)
    values(#{author},#{aff},0)
</insert>

<select id="selectAll" resultType="com.lxxz.oasis.ouroasis.po.AuthorHeatEntity">
    select author as author,aff as aff,heat as heat
    from h_author
</select>

<update id="updateByPrimaryKeySelective" parameterType="com.lxxz.oasis.ouroasis.po.AuthorHeatEntity">
    update h_author
    set heat = #{heat}
    where author = #{author} and aff = #{aff}
</update>


</mapper>