<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxxz.oasis.ouroasis.data.InitMapper">

    <resultMap id="AuthorHeatEntity" type="com.lxxz.oasis.ouroasis.po.AuthorHeatEntity">
        <result column="author" property="author"></result>
        <result column="author_aff" property="aff"></result>
        <result column="heat" property="heat"></result>
    </resultMap>

    <insert id="insertAuthor" >
        insert ignore into t_author(author_key, authors,authors_aff,doc_title)
        values(#{key},#{authors},#{aff},#{docTitle})
    </insert>

    <insert id="insertCount" >
        insert ignore into t_count(count_art,count_ref,doc_title)
        values(#{art},#{ref},#{docTitle})
    </insert>

    <insert id="insertData" >
        insert into t_data(data_iss, data_mee,data_onl,doc_title)
        values(#{iss},#{mee},#{onl},#{docTitle})
    </insert>

    <insert id="insertPaper" >
        insert into t_paper(abstract,doc_title,end_page,paper_issue,paper_vol,start_page)
        values(#{abs},#{docTitle},#{end},#{iss},#{vol},#{start})
    </insert>

    <insert id="insertPer" >
        insert into t_per(doc_title,license,per_ISBNs,per_ISSN)
        values(#{docTitle},#{license},#{ISBNs},#{ISSN})
    </insert>

    <insert id="insertPub" >
        insert into t_pub(doc_ident,doc_title,pub_title,pub_year,publisher)
        values(#{ident},#{docTitle},#{title},#{year},#{publisher})
    </insert>

    <insert id="insertSearch" >
        insert into t_search(doc_title,sea_INSP,sea_INSPNON,sea_date,sea_dol,sea_fund,sea_pdf)
        values(#{docTitle},#{INSP},#{INSPNON},#{date},#{dol},#{fund},#{pdf})
    </insert>

    <insert id="insertTerm" >
        insert into t_term(IEEE_terms,doc_title,mesh_terms)
        values(#{IEEE},#{docTitle},#{mesh})
    </insert>




    <insert id="insertDAuthor" >
        insert ignore into d_author(author,author_aff,doc_title,author_place)
        values(#{author},#{aff},#{docTitle},#{place})
    </insert>

    <insert id="insertDInsp" >
        insert into d_insp(doc_title,sea_INSP)
        values(#{docTitle},#{INSP})
    </insert>

    <insert id="insertDInspec" >
        insert into d_inspec(doc_title,sea_INSPNON)
        values(#{docTitle},#{INSPNON})
    </insert>

    <insert id="insertDKey" >
        insert into d_key(author_key,doc_title)
        values(#{key},#{docTitle})
    </insert>

    <insert id="insertDTerm">
        insert into d_term(IEEE_term,doc_title)
        values(#{term},#{docTitle})
    </insert>

    <insert id="insertHAuthor">
        insert ignore into h_author(author,heat)
        values(#{author},#{heat})
    </insert>

    <insert id="insertHAff">
        insert ignore into h_aff(aff,heat)
        values(#{aff},#{heat})
    </insert>

    <insert id="insertHKey" >
        insert ignore into h_key(keyword,heat)
        values(#{keyword},#{heat})
    </insert>

    <select id="selectAllAuthors" resultMap="AuthorHeatEntity">
        select author,author_aff
        from d_author
    </select>

    <select id="getTitlesByAuthor" resultType="String">
        select doc_title
        from d_author
        where author=#{aut} and author_aff=#{aff}
    </select>

    <select id="getAuthorsByTitle" resultType="String">
        select authors
        from t_author
        where doc_title=#{title}
    </select>

    <select id="getCiteNumByTitle" resultType="int">
        select count_art+count_ref
        from t_count
        where doc_title=#{title}
    </select>

    <select id="getAffNames" resultType="String">
        select distinct author_aff
        from d_author
    </select>

    <select id="getAuthorsByAff" resultType="String">
        select distinct author
        from d_author
        where author_aff=#{aff}
    </select>

    <select id="getAuthorHeat" resultType="int">
        select heat
        from h_author
        where author=#{author} and aff=#{aff}
    </select>

    <select id="getDirectionsHeat" resultType="String">
        select distinct author_key
        from d_key
    </select>

    <select id="getTitlesByKey" resultType="String">
        select distinct doc_title
        from d_key
        where author_key=#{key}
    </select>
</mapper>