<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxxz.oasis.ouroasis.data.TrendMapper">
    <select id="selectTopTenDirectionOfEachYear" resultType="com.lxxz.oasis.ouroasis.vo.TrendForm">
        select
        author_key as name,count(dt.doc_title) as count
        from
        (select doc_title from t_pub where pub_year=#{year}) as dt
        join
        d_key dk
        on
        dt.doc_title=dk.doc_title
        where
        author_key!=''
        group by
        author_key
        order by count(dt.doc_title) desc
        limit 10
    </select>

    <select id="selectYears" resultType="Integer">
        select
        distinct pub_year
        from
        t_pub
        order by pub_year asc
    </select>
</mapper>