html,body{
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.max-box{
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
}

.empty-box-header{
    width: 100%;
    height: 10%;
    align-items: center;
    background: #24292E;
    box-shadow: 0px 20px 10px -10px #3636365d;
}

li{
    list-style-type: none;
}

.menu-box{
    width: 100%;
    height: 100%;
    margin: auto;
    background: none;
}

.menu-box li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border: none;
}

.menu-box li a{
    font-size: 16px;
    color: #FAFBFC;
    display: block;
    outline: 0;
    text-decoration: none;
}

.menu-box li:hover a {
    color: rgb(200, 201, 203);
}

.menu-box li:hover .col_1{
    left: 0px;
    top: 50px;
}

.col_1{
    margin: 0px auto;
    float: left;
    position:absolute;
    left: -999em;
    text-align: left;
    border: none;
    border-radius: 20px;
    border-top: none;
    background: #FAFBFC;
    width: 150px;
    box-shadow: 0px 20px 10px -10px #3636365d;
}

.menu-box li:hover .col_2{
    left: 0px;
    top: 50px;
}

.col_2{
    margin: 0px auto;
    float: left;
    position:absolute;
    left: -999em;
    text-align: left;
    border: none;
    border-radius: 20px;
    border-top: none;
    background: #FAFBFC;
    width: 150px;
    box-shadow: 0px 20px 10px -10px #3636365d;
}

.menu-box li:hover div a{
    font-size: 16px;
    color: #6a737d;
}

.menu-box li:hover div a:hover{
    color: #4a91e2;
}

.menu-box li ul{
    list-style: none;
    padding: 10px 5px;
    margin: 0;
}




.nav-bar{
    width: 15%;
    height: 90%;
    float: left;
}
nav{
    width: 100%;
    height: 100%;
}
.nav-container{
    width: 100%;
    height: 100%;
}

.nav-container li{
    width: 100%;
    height: 20px;
    font-size: 20px;
}



.main-body{
    width: 100%;
    height: 90%;
    float: right;
}

.main-content{
    height: 100%;
    width: 100%;
}

.iframe-content{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;

}

.logo-box{
    width: 60px;
    height: 60px;
    margin: auto;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
}
