html,body{
    background: none;
    width: 100%;
    height: 100%;
}

.relation-box{
    width: 100%;
    height: 100%;
}
.relation-empty-0{
    width: 100%;
    height: 5%;
}
.relation-head{
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 30px;
}
.relation-container{
    position:absolute;
    width: 100%;
    height: 75%;
}