html,body{
    background: none;
    width: 100%;
    height: 100%;
}

.empty-box{
    width: 100%;
    height: 10%;
    align-items: center;
}

.slogan-box {
    margin: auto;
    width: 100%;
    height: 35%;
    align-items: center;
}
.slogan-head{
    margin: auto;
    font-size: 140px;
    width: 100%;
    height: 80%;
    text-align: center;
    color: #24292E;
}
.slogan-content{
    margin: auto;
    font-size: 20px;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #24292E;
}

.search-box{
    margin: auto;
    width: 100%;
    height: 55%;
    align-items: center;
}
.search-table{
    margin: auto;
    width: 800px;
    height: 100%;
    align-items: center;
    table-layout: fixed;
}
.search-key{
    height: 20%;
    width: 800px;
}
.number-control-btn{
    width: 100px;
    height: 50px;
}
.search-info{
    height: 50px;
    width: 600px;
}
.search-type-0{
    height: 38px;
    width: 150px;
    background-color: transparent;
    border: 3px solid #24292E;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.search-value-0{
    height: 31px;
    width: 430px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #24292E;
    font-size: 20px;
}
.search-type{
    height: 35px;
    width: 150px;
    background-color: transparent;
    border: 3px solid #24292E;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.search-value{
    height: 35px;
    width: 430px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #24292E;
    font-size: 20px;
}
.search-confirm-btn{
    background: url("../images/sousuo.png") no-repeat 0 0;
    padding: 20px;
    background-size: 40px 40px;
    border-style: none;
}
.search-mode-control{
    height: 40px;
    width: 150px;
    margin: auto;
    align-items: center;
}
.search-mode-btn{
    margin: auto;
    height: 40px;
    width: 150px;
    text-align: center;
    background: transparent;
    font-size: 20px;
    border: 3px solid #24292E;
    border-radius: 10px;
}

