<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin_Func</title>
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="css/AdminFunc.css">
    <!--JS-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/AdminFunc.js"></script>
</head>
<body>
    <div class="max-box">
        <div class="empty-box"></div>
        <div class="btn-box">
            <button class="btn" id="ini-btn">初始化数据库</button>
        </div>


       <!--  <form class="btn-box" id="form" enctype="multipart/form-data" method="post" target="submitcsv" action="/uploadcsv">
            <a>
                <input type="file" name="file" id="fileField">
            </a>
            <input class="btn" id="upl-btn" type="submit" value="上传文件" onclick="uploadcsv()"/>
        </form> -->

        <div class="empty-box"></div>
    </div>
</body>