<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin_Check</title>
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="css/AdminCheck.css">
    <!--JS-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/AdminCheck.js"></script>
</head>
<body>
    <div class="max-box">
        <div class="ask-box">
            Please log in.
        </div>
        <div class="input-box">
            <div class="un-box">
                <input type="text" class="inp" placeholder="User Name" id="un">
            </div>
            <div class="pwd-box">
                <input type="text" class="inp" placeholder="Password" id="pw">
            </div>
        </div>
        <div class="btn-box">
            <button class="check-btn" id="check-btn">login</button>
        </div>
    </div>
</body>