<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome_OASIS</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/IndexStyle.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/IndexScript.js"></script>

</head>
<body>

<div class="max-box">
    <div class="empty-box-header">
        <div class="menu-box">
            <ul>
                <li><a href="AdminCheck" class="iframe_link" target="_blank">admin</a></li>
                <li><a href="SearchPaper" class="iframe_link" target="_blank">paper</a></li>
                <li><a href="SearchPortrait" class="iframe_link" target="_blank">portrait</a></li>
                <li><a href="" class="drop">relations</a>
                    <div class="col_1">
                        <ul class="relation-cols">
<!--                            <li><a href="Relation1" target="_blank" class="iframe_link" >relation1</a></li>-->
                            <li><a href="Relation2" target="_blank" class="iframe_link" >relation1</a></li>
                            <li><a href="Relation3" target="_blank" class="iframe_link" >relation2</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" class="drop">interests</a>
                    <div class="col_2">
                        <ul class="interest-cols">
                            <li><a href="Interest1" target="_blank" class="iframe_link" >interest1</a></li>
                            <li><a href="Interest2" target="_blank" class="iframe_link" >interest2</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="Trend" target="_blank" class="iframe_link">trend</a></li>
                <li><a href="Rank" target="_blank" class="iframe_link">ranking</a></li>
            </ul>
        </div>
    </div>
    <!--
        <div class="nav-bar">
        <nav>
            <ul class="nav-container">
                <li><a href="SearchPaper" target="_blank" class="iframe_link"><span>Search</span></a></li>
                <li><a href="SearchPortrait" target="_blank" class="iframe_link"><span>Portait</span></a></li>
                <li><span>Relations</span></li>
                <div>
                    <ul>
                        <li><a href="Relation1" target="_blank" class="iframe_link"><span>Author</span></a></li>
                        <li><a href="Relation2" target="_blank" class="iframe_link"><span>Affiliation</span></a></li>
                        <li><a href="Relation3" target="_blank" class="iframe_link"><span>Direction</span></a></li>
                    </ul>
                </div>
                <li><span>Interests</span></li>
                <div>
                    <ul>
                        <li><a href="Interest1" target="_blank" class="iframe_link"><span>Basic</span></a></li>
                        <li><a href="Interest2" target="_blank" class="iframe_link"><span>Advanced</span></a></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>
    -->
    <div class="main-body">
        <div class="main-content">
            <iframe src="SearchPaper" class="iframe-content"></iframe>
        </div>
    </div>
</div>
</body>
</html>