<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_Paper</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/IndexRanking2.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/InterestPage2.js"></script>

</head>
<body>

<div class="ranking-box">
    <div class="ranking-empty-0"></div>
    <div class="ranking-head">
        <h1>Heat Ranking List</h1>
        <br>
    </div>

    <div class="ranking-container">
        <div class="ranking-empty-1"></div>
        <div class="ranking-left">
            <h3 style="text-align:center">Author Heat</h3>
            <div class="top">
                <ul class="author-heat" id="author-heat">

                </ul>
            </div>
        </div>
        <div class="ranking-middle">
            <h3 style="text-align:center">Affiliation Heat</h3>
            <div class="top">
                <ul class="affiliation-heat" id="affiliation-heat">

                </ul>
            </div>
        </div>
        <div class="ranking-right">
            <h3 style="text-align:center">Research Direction Heat</h3>
            <div class="top">
                <ul class="research-direction-heat" id="research-direction-heat">

                </ul>
            </div>
        </div>
        <div class="ranking-empty-2"></div>
    </div>

</div>

</body>