<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_Paper</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/IndexRanking1.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/InterestPage1.js"></script>

</head>
<body>

<div class="ranking-box">
    <div class="ranking-empty-0"></div>
    <div class="ranking-head">
        <h1>Cites Ranking List</h1>
        <br>
    </div>

    <div class="ranking-container">
        <div class="ranking-empty-1"></div>
        <div class="ranking-left">
            <h3 style="text-align:center">Top Publication</h3>
            <div class="top">
                <ul class="top-publication" id="top-publication">

                </ul>
            </div>
        </div>
        <div class="ranking-right">
            <h3 style="text-align:center">Top Reference</h3>
            <div class="top">
                <ul class="top-reference" id="top-reference">

                </ul>
            </div>
        </div>
        <div class="ranking-empty-2"></div>
    </div>

</div>

</body>