<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OASIS</title>
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="css/PaperResult.css">
    <!--JS-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/PaperResult.js"></script>

</head>
<body>
<!-- 结果栏 -->
<div class="max-box">
    <div class="header-box">
    </div>
    <div class="result">
        <table class="result-table">
            <thead>
                <tr>
                    <th width="500">Title</th>
                    <th width="200">Author</th>
                    <th width="200">Publication</th>
                    <th width="100">Year</th>
                    <th width="150">Reference Count</th>
                </tr>
            </thead>
            <tbody id="result-one" class="result-one">
            </tbody>
        </table>
    
    <!--    <div id="pagination">-->
    <!--        <button id="first">首页</button>-->
    <!--        <button id="prev">《</button>-->
    <!--        <span id="pages"></span>-->
    <!--        <button id="next">》</button>-->
    <!--        <button id="last">尾页</button>-->
    <!--    </div>-->
    </div>
</div>

</body>
</html>


