<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Paper_Detail</title>
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="css/PaperDetail.css">
    <!--JS-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/PaperDetail.js"></script>

</head>
<body>
    <div class="max-box">
        <div class="empty-box"></div>
        <div class="result-header">Paper</div>
        <div class="result-box">
            <table class="result-table">
                <tr>
                    <th>Title</th>
                    <td class="column" id="one"></td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td class="column" id="two"></td>
                </tr>
                <tr>
                    <th>Affiliation</th>
                    <td class="column" id="three"></td>
                </tr>
                <tr>
                    <th>Publication</th>
                    <td class="column" id="four"></td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td class="column" id="five"></td>
                </tr>
                <tr>
                    <th>PDFLink</th>
                    <td class="column" id="six"></td>
                </tr>
                <tr>
                    <th>Keywords</th>
                    <td class="column" id="seven"></td>
                </tr>
                <tr>
                    <th>ReferenceCount</th>
                    <td class="column" id="eight"></td>
                </tr>
                <tr>
                    <th>Publisher</th>
                    <td class="column" id="nine"></td>
                </tr>
<!--                <tr>-->
<!--                    <th>DOI</th>-->
<!--                    <td class="column" id="ten"></td>-->
<!--                </tr>-->
                <tr>
                    <th>Abstract</th>
                    <td class="column" id="eleven"></td>
                </tr>
<!--                <tbody id="result-one" class="result-one">-->
<!--                </tbody>-->
            </table>
        </div>
    </div>
</body>
</html>