<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankingPage</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/IndexRanking1.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/RankingScript.js"></script>
</head>
<body>

    <div class="ranking-box">
        <div class="ranking-empty-0"></div>
        <div class="ranking-head">
            <h1>Ranking List</h1>
            <br>
        </div>

        <div class="ranking-container">
            <div class="ranking-empty-1"></div>
            <div class="ranking-left">
                <h3 style="text-align:center">Most papers</h3>
                <div class="top">
                    <ul class="top-publication" id="top-publication">

                    </ul>
                </div>
            </div>
            <div class="ranking-right">
                <h3 style="text-align:center">Most Reference</h3>
                <div class="top">
                    <ul class="top-reference" id="top-reference">

                    </ul>
                </div>
            </div>
            <div class="ranking-empty-2"></div>
        </div>

    </div>

<!--     <div class="button-box">-->
<!--        <div class="paper-list">-->
<!--            <div class="list-header" style="overflow:hidden">-->
<!--                <div class="page-tabs">-->
<!--                    <div id="tab-papers" class="page-tab page-tab-active">-->
<!--                        <span class="list-header" style="width: 200px; float: right; margin-right:16px">Most Papers</span>-->
<!--                    </div>-->
<!--                    <div class="list-header-mid"> | </div>-->
<!--                    <div id="tab-counts" class="page-tab">-->
<!--                        <span class="list-header" style="width: 200px; float: left; margin-right:16px">Most Reference Count</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <table class="result-table">-->
<!--                <thead>-->
<!--                <tr id="table-tr">-->
<!--                    <th>No</th>-->
<!--                    <th>Name</th>-->
<!--                    <th>Number</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody class="result-one" id="result-one"></tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>