<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author_Relations</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/RelationPageStyle.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/AffiliationGraph.js"></script>

</head>
<body>
    
    <div class="relation-box">
        <div class="relation-empty-0"></div>
        <div class="relation-head">
            <h1>Affiliation Relations</h1>
        </div>
        <div style="height: 1000px;width: 1500px;" id="main" class="relation-container"></div>

    </div>

</body>