<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_Paper</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/SearchPapaerStyle.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/SearchPaperScript.js"></script>

</head>
<body>
    <div class="slogan-box">
        <div class="slogan-head">
            OASIS
        </div>
        <div class="slogan-content">
            Online graph system for academics.
        </div>
    </div>

    <div class="search-box">
        <input id="current-num" style="display: none" value="1">
        <table class="search-table">
            <tbody>
            <tr id="line0" class="search-key">
                <td class="number-control-btn"></td>
                <td class="search-info">
                    <select id="search-type-0" class="search-type-0">
                        <option value="author">Author</option>
                        <option value="affiliation">Affiliation</option>
                        <option value="conference">Conference</option>
                        <option value="keyword">Keyword</option>
                    </select>
                    <input id="search-value-0" class="search-value-0">
                </td>
                <td class="search-btn">
                    <button class="search-confirm-btn" id="search-start-btn-0"></button>
                </td>
            </tr>
            <tr id="line1" class="search-key" style="display: none">
                <td class="number-control-btn"></td>
                <td class="search-info">
                    <input id="search-type-1" class="search-type" value="author">
                    <input id="search-value-1" class="search-value">
                </td>
                <td class="search-btn">
                    <button class="search-confirm-btn" id="search-start-btn-1"></button>
                </td>
            </tr>
            <tr id="line2" class="search-key" style="display: none">
                <td class="number-control-btn"></td>
                <td class="search-info">
                    <input id="search-type-2" class="search-type" value="affiliation">
                    <input id="search-value-2"class="search-value">
                </td>
            </tr>
            <tr id="line3" class="search-key" style="display: none">
                <td class="number-control-btn"></td>
                <td class="search-info">
                    <input id="search-type-3" class="search-type" value="conference">
                    <input id="search-value-3"class="search-value">
                </td>
            </tr>
            <tr id="line4" class="search-key" style="display: none">
                <td class="number-control-btn"></td>
                <td class="search-info">
                    <input id="search-type-4" class="search-type" value="keyword">
                    <input id="search-value-4"class="search-value">
                </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="empty-box">
        <div class="search-mode-control" >
            <button class="search-mode-btn" id="inc-btn">advanced</button>
        </div>
    </div>

</body>