<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trend</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/TrendPage.css">

    <!--js-->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/Request.js"></script>
    <script type="text/javascript" src="js/TrendPage.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"> </script>

</head>
<body>

    <div class="result">

        <table class="result-table">
            <tr>
                <th width="50">年份</th>
                <th width="800">热点</th>
            </tr>
            <tbody id="ranking">
            </tbody>
        </table>


    </div>

</body>
</html>